.hero {
  height: calc(100vh - 4rem);
  z-index: -10;
}

.hero-banner {
  z-index: 100;
}

.bg-full {
  position: relative;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-banner {
    border-radius: 1rem;
    max-width: 80%;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .hero-banner {
    -webkit-backdrop-filter: blur(2px) brightness(40%) drop-shadow(4px 4px 10px blue);
    backdrop-filter: blur(2px) brightness(50%) drop-shadow(4px 4px 10px blue);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .hero-banner {
    background-color: rgba(0, 0, 0, .4);
  }
}

h1.hero-title {
  font-size: 5vh;
  text-decoration: underline overline;
  text-overline-offset: 1rem;
  text-underline-offset: 1rem;
  margin-bottom: 30rem;
}

h2.hero-subtitle,  
h3.hero-subtitle {
  font-size: 3vh;
}

/*
.hero-banner-title {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.hero-banner-synopsis {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 80vw;
}*/